{% extends "main.html" %}
{% block content %}
<section>
    <div class="container-full-width">
      <img
        src="../static/assets/img/calcetto.jpg"
        alt="Snow"
        style="width: 100%"
      />
      <div class="bottom-left">
        <h2>
          Entra a far parte del <br />
          team di Calcettata Mai Mollata
        </h2>
      </div>
      <div class="top-right">
        <h1 style="opacity: 0.9">
          Prova anche tu un nuovo <br />
          mondo di vivere le tue partitelle
        </h1>
      </div>
    </div>
  </section>
  <!-- Content section 1-->
  <section id="scroll">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img
              class="img-fluid"
              src="../static/assets/img/calendario.jpeg"
              alt="..."
            />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">
              Organizza partitelle o tornei senza dover fare 200 chiamate
            </h2>
            <p>
              Con il pratico sistema sistema di organizzazione di Calcettata Mai
              Mollata ti basteranno pochi click per creare partitelle tra amici
              o epici tornei!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content section 2-->
  <section>
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img
              class="img-fluid"
              src="../static/assets/img/dashboard.png"
              alt="..."
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Tieni traccia delle tue performance!</h2>
            <p>
              Con un nuovo sistema all'avanguardia e con l aiuto dei tuoi
              compagni potrai terene un tracciato delle tue performance globali
              o di ogni signola partita giocata su Calcettata Mai Mollata!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content section 3-->
  <section>
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img
              class="img-fluid"
              src="../static/assets/img/squadre.jpeg"
              alt="..."
            />
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Non perdere tempo!</h2>
            <p>
              I tempi sono corti, c è sempre qualche stronzo pronto a entrare in
              campo allo scadere dell'ora? Non ti preoccupare! Non dovrai piu
              perdere tempo a fare le squarde o a fare conte per il portiere!
              Una volta confermata la partita l'algoritmo creera squadre
              bilanciata e assegnera i turni in porta!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content section 2-->
  <section>
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img
              class="img-fluid"
              src="../static/assets/img/schema.png"
              alt="..."
            />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Crea, salva e prova i tuoi schemi!</h2>
            <p>
              Grazie a coachApp potrai sbizzarrirti nel tentare nuovi schemi di
              attacco o difesa insieme ai tuoi compagni! Condividete gli schemi
              da provare e approvateli prima della partita per massimizzare la
              resa di squadra
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock %}