
{% include 'head_w3_bs.html' %}
<title>Aggiornamento</title>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container-full-width">
                <a class="navbar-brand" href="http://127.0.0.1:8000/partitelle/">Calcettata mai mollata</a>
                <button class="navbar-toggler  ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-right: 5%;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/partitelle/giocatori/">Giocatori</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Statistiche</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/partitelle/registrati/">Registrati</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Accedi</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section style="padding-top:5rem;">
            <div class="w3-container">
            <h2>Aggiornamento dati</h2>
            
            <div class="w3-card-4">
                <div class="w3-container w3-green">
                <h2>Tessera Giocatore </h2>
                </div>

                <form class="w3-container " method="post" action="../updateData/{{giocatore.id}}">
                    {% csrf_token %}
                    <p>
                        <input class="w3-input w3-border w3-round-large" type="text" name="nome" value="{{giocatore.nome}}">
                        <label>Nome</label></p>
                    <p>     
                    <p>
                    <input class="w3-input w3-border w3-round-large" type="text" name="descrizione" value="{{giocatore.descrizione}}">
                    <label>Descrizione</label>
                    </p>
                    <input class="w3-check" type="checkbox" name="portiere" {% if giocatore.portiere %}checked{% endif %}>
                    <label>Portiere</label>

                    <input class="w3-check" type="checkbox" name="difensore" {% if giocatore.difensore %}checked{% endif %}>
                    <label>Difensore centrale</label>

                    <input class="w3-check" type="checkbox" name="ala_destra" {% if giocatore.ala_destra %}checked{% endif %}>
                    <label>Ala destra</label>
                    
                    <input class="w3-check" type="checkbox" name="ala_sinistra" {% if giocatore.ala_sinistra %}checked{% endif %}>
                    <label>Ala sinistra</label>

                    <input class="w3-check" type="checkbox" name="punta" {% if giocatore.punta %}checked{% endif %}>
                    <label>Punta</label>

                    <input class="w3-button w3-green w3-round-xlarge" type="submit" value="update">
                </form>
            </div>
        </section>
    </body>
</html>


<!-- 
<h1>Registrati come giocatore</h1>

<form method="post" action="createData/">
    {% csrf_token %}
    Nome: <input name="nome">
    Ruolo: <input name="ruolo"> 
    <input type="submit" value="registra">
</form>
-->
